.non {
    text-decoration: none;
    text-align: center;
    color: black;
}

.cont {
    width: 100%;
    /* background-color: aqua; */
    padding-left: 130px;
    padding-right: 130px;
}

.brand {
    font-weight: bold;
    font-size: 25px;
    padding-right: 30px;
}

.nname {
    font-weight: 600;
    font-size: 20px;
    color: black;
}